# Plot influenza mortality
Data taken from [Simonsen et al (1998)](https://academic.oup.com/jid/article/178/1/53/919896).

First, import Python modules:

In [1]:
import os

import altair as alt

import pandas as pd

Now create a data frame with the data from [Simonsen et al (1998)](https://academic.oup.com/jid/article/178/1/53/919896):

In [3]:
mortality = pd.DataFrame(
    [
        # from Table 1
        (1918, "H1N1", 529, 166, 546),
        (1919, "H1N1", 93, 175, 89),
        (1921, "H1N1", 16, 93, 12),
        (1922, "H1N1", 37, 280, 24),
        (1925, "H1N1", 26, 221, 15),
        (1928, "H1N1", 84, 594, 55),
        (1936, "H1N1", 18, 101, 12),
        (1943, "H1N1", 14, 123, 4.8),
        (1977, "H1N1", 3.8, 30, 0.6),
        (1983, "H1N1", 1.5, 16, 0),
        (1986, "H1N1", 0.7, 5.7, 0),
        (1988, "H1N1", 2.1, 15, 0.1),
        # from Table 3
        (1968, "H3N2", 8.1, 44, 4.3),
        (1969, "H3N2", 3.3, 16, 1.9),
        (1970, "H3N2", 0.7, 2.8, 0.4),
        (1971, "H3N2", 4.2, 29, 1.5),
        (1972, "H3N2", 3.8, 21, 1.4),
        (1974, "H3N2", 3.0, 19, 0.8),
        (1975, "H3N2", 5.5, 42, 0.8),
        (1977, "H3N2", 3.8, 30, 0.6),
        (1980, "H3N2", 5.2, 41, 0.6),
        (1982, "H3N2", 2.0, 19, 0),
        (1984, "H3N2", 3.4, 29, 0.1),
        (1987, "H3N2", 3.1, 24, 0.1),
        (1989, "H3N2", 4.1, 30, 0.3),
        (1991, "H3N2", 2.6, 19, 0.2),
        (1992, "H3N2", 2.4, 16, 0.2),
        (1993, "H3N2", 3.9, 29, 0.3),
        (1994, "H3N2", 2.0, 15, 0.1),
    ],
    columns=["year", "subtype", "all age mortality", "65+ year-old mortality", "<65 year mortality"],
)

mortality

,year,subtype,all age mortality,65+ year-old mortality,<65 year mortality
0,1918,H1N1,529.0,166.0,546.0
1,1919,H1N1,93.0,175.0,89.0
2,1921,H1N1,16.0,93.0,12.0
3,1922,H1N1,37.0,280.0,24.0
4,1925,H1N1,26.0,221.0,15.0
5,1928,H1N1,84.0,594.0,55.0
6,1936,H1N1,18.0,101.0,12.0
7,1943,H1N1,14.0,123.0,4.8
8,1977,H1N1,3.8,30.0,0.6
9,1983,H1N1,1.5,16.0,0.0
10,1986,H1N1,0.7,5.7,0.0
11,1988,H1N1,2.1,15.0,0.1
12,1968,H3N2,8.1,44.0,4.3
13,1969,H3N2,3.3,16.0,1.9
14,1970,H3N2,0.7,2.8,0.4
15,1971,H3N2,4.2,29.0,1.5
16,1972,H3N2,3.8,21.0,1.4
17,1974,H3N2,3.0,19.0,0.8
18,1975,H3N2,5.5,42.0,0.8
19,1977,H3N2,3.8,30.0,0.6
20,1980,H3N2,5.2,41.0,0.6
21,1982,H3N2,2.0,19.0,0.0
22,1984,H3N2,3.4,29.0,0.1
23,1987,H3N2,3.1,24.0,0.1
24,1989,H3N2,4.1,30.0,0.3
25,1991,H3N2,2.6,19.0,0.2
26,1992,H3N2,2.4,16.0,0.2
27,1993,H3N2,3.9,29.0,0.3
28,1994,H3N2,2.0,15.0,0.1